<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Text Live</title>
  </head>
  <body class="bg-dark">
    <div class="container p-5 justify-content-center">
      <div class="jumbotron bg-secondary row">
        <div class="col-sm d-none d-lg-block">
          <!-- FORM LOGOWANIE -->
          <form action="/login" method="post">
            <div class="row justify-content-center">
              <input
                class="mb-1 form-control col-10"
                name="username"
                placeholder="Login"
                type="text"
                required
              />
            </div>
            <div class="row justify-content-center">
              <input
                class="mb-1 form-control col-10"
                name="password"
                placeholder="Hasło"
                type="password"
                required
              />
            </div>
            <div class="row justify-content-center">
              <button class="btn btn-primary form-control mr-1 col-10">
                Zaloguj
              </button>
            </div>
          </form>
          <div class="row justify-content-center">
            <div class="alert alert-info mt-1 col-10" role="alert">
              Nie masz konta?
              <a href="#" class="alert-link">Utwórz konto</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <!-- FORM DOŁĄCZANIE DO POKOJU-->
          <form action="/join" method="post">
            <div class="row justify-content-center">
              <input
                class="mb-1 form-control col-10"
                type="number"
                placeholder="Kod Klasy"
                name="PIN"
                required
              />
              <input
                class="mb-1 form-control col-10"
                type="text"
                placeholder="Twoja Nazwa"
                name="guestname"
                required
              />
            </div>
            <div class="row justify-content-center">
              <input
                class="mb-1 form-control col-10"
                type="email"
                placeholder="Twój Email"
                name="remail"
                required
              />
            </div>
            <div class="row justify-content-center">
              <input
                class="btn btn-primary form-control col-10"
                type="submit"
                value="Dołącz"
                id="submit"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
