<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/data-tooltip.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/regular.min.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
</head>

<script>
    
        <% if(user){ %>
    window.location.href = '/tree';
    <% } %>
    
    

window.onclick = function(event) {
	let modal = document.getElementById('id01');
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<body>

<style>
body{margin-bottom:100px;background:#fff;color:#fff;margin:0;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;}
#menu {position:fixed;width:100%;box-sizing:border-box;background:#24292e;height:60px;line-height:60px;padding:0px 10%;list-style-type:none;margin:0;}
#menu li {float:left;color:#fff;padding:0px 30px;}#menu li.right {float:right}
#menu li:first-child {padding:0 30px 0 0}
#content{float:left;width:100%;margin:0;box-sizing:border-box;height:850px;background-image: linear-gradient(178deg, #2b3137 70%, #fff calc(70% + 2px));}
h1{font-size:36px;color:#fff}
#container {width:60%;margin:auto;padding:130px 0 0 0}
.create-test{padding:12px 18px;border:1px solid #1074e7;color:#fff;border-radius:3px;display:inline-block;margin-top:50px;}
.header-left{width:40%;color:#ccc;font-weight:500;float:left;}.room-form{min-width:300px;border-radius:3px;float:right;color:#333;display:inline-block;padding:30px;background:#fff}.room-input{width:100%;box-sizing:border-box;margin-top:5px;border:1px solid #ccc;background:#fff;padding:12px 18px;border-radius:3px;}
.room-button {z-index:1;font-size:14px;font-weight:500;background:#1074e7;padding:12px 18px;border-radius:30px;color:#fff;border:0;width:100%;margin:10px 0 0 0}
.input-box{font-size:15px;}	
.start-icon {
	font-size:30px;
	text-align:center;
	line-height:70px;
	border-radius:50%;
	color:#fff;
	margin:auto;
	background:linear-gradient(to top right, #252525, #333);
	height:70px;
	width:70px;
}.info {color:#333;margin-block-start:5px!important}h2.info{color:#777;font-weight:400;font-size:17px;}.icon_mg{margin-right:5px;}.icon_google{top:3px;left:4px;position:relative;font-size:15px;}#footer{margin:60px 0px;color:#333}ul.ftr {width:21%;list-style-type:none;float:left;}ul.ftr li {display:inline-block;margin:8px 0px;width:100%;float:left}ul.ftr li.main{font-weight:500}

</style>

<style>

</style>

<div id="menu">
	<li>Live-Text</li>
	<li>Strona Główna</li>
	<li>Funkcjonalność</li>
	<li>O platformie</li>
	
	<li class="right"><a href="/register">Rejestracja</a></li>
	<li class="right"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;padding:0;background:0;margin:0;font-size:16px;font-weight:400">Logowanie</button></li>
</div>

<div id="content">
	<div id="container">
		<div class="header-left">
		<h1>Platforma<br>stworzona dla nauczycieli</h1>
		Platforma stworzona dla nauczycieli w celu tworzenia, wysyłania i analizowania testów w prosty sposób. Wyposażona w funkcje oceniania pytań i przeglądania progresu ucznia podczas wypełniania testu w czasie rzeczywistym.
		<br>
		<a href="/register" style="text-decoration: none"><div class="create-test">Rozpocznij tworzenie testów</div></a>
		</div>
		
		
		
		<div style="width:60%;float:left;">
		<form action="/join" method="post" class="room-form">
					<div class="input-box">
					Identyfikator pokoju<br>
					<input
						class="room-input"
						type="number"
						name="PIN"
						required
					/>
					</div><br>
					<div class="input-box">
					Nazwa<br>
					<input
						class="room-input"
						type="text"
						name="guestname"
						required
					/>
					</div><br>
					<div class="input-box">
					Email<br>
					<input
						class="room-input"
						type="email"
						name="remail"
						required
					/></div>	<br>				<button class="room-button" data-tooltip="Po kliknięciu tego przycisku zostaniesz przeniesiony do pokoju">
					Dołącz do pokoju</span>
					</button>
				</form>
		</div>
</div>	</div>
<div style="width:60%;float:left;margin:-320px 20% 0 20%">
		<div style="margin-top:250px;width:100%;float:left;color:#555">
		<!--
		<div style="width:24%;border-radius:3px;box-shadow:0px 0px 5px rgba(0, 0, 0, 0.27);background:#fff;height:300px;margin-bottom:100px;padding:40px 20px;box-sizing:border-box;">
			<div class="start-icon"><i class="fas fa-pen"></i></div>
			<br>
			Twórz testy
		</div>
		
		-->
		<div style="width:70%;margin:auto;">
		<center><i class="fas fa-layer-group icon_mg"></i> Tworzenie testów<br>
		<h1 class="info">Buduj testy z dodanych pytań</h1>
		<h2 class="info">Szybko twórz świetnie wyglądające testy używając prostych i wysoce konfigurowalnych funkcji menedżera, które pozwalają między innymi na tworzenie różnych typów pytań, załączanie zdjęć, filmów, plików audio, formatowanie tekstu i wiele więcej. Dodane pytania mogą zostać edytowane, duplikowane i wykorzystane wiele razy, dzięki czemu nie trzeba za każdym razem ich kopiować.  </h2>
		<div class="create-test" style="color:#1074e7;margin-top:20px;">
		Rozpocznij już teraz <i class="material-icons icon_google">arrow_right_alt</i>
		</div>
		</center>
		</div>
		<div style="width:70%;margin:auto;margin-top:150px;margin-bottom:100px;">
		<center><i class="fas fa-volume-up icon_mg"></i> Usprawnienia dla niepełnosprawnych<br>
		<h1 class="info">Funkcja czytania na głos</h1>
		<h2 class="info">Szybko twórz świetnie wyglądające testy używając prostych i wysoce konfigurowalnych funkcji menedżera, które pozwalają między innymi na tworzenie różnych typów pytań, załączanie zdjęć, filmów, plików audio, formatowanie tekstu i wiele więcej. Dodane pytania mogą zostać edytowane, duplikowane i wykorzystane wiele razy, dzięki czemu nie trzeba za każdym razem ich kopiować.  </h2>
		<div class="create-test" style="color:#1074e7;margin-top:20px;">
		Czytaj więcej <i class="material-icons icon_google">arrow_right_alt</i>
		</div>
		</center>
		</div>
	</div>
	</div>
</div>


		<div style="width:60%;float:left;margin:0px 20% 100px 20%;">
		
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
		<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <div class="modal-content animate">

    <div class="container">
	      
	  
				<form action="/login" method="post">
					<div class="input-loginbox">
					Login<br>
					<input
						class="input"
						name="username"
						placeholder="Login"
						type="text"
						required
					/>
					</div><br>
					<div class="input-loginbox">
					Hasło<br>
					<input
						class="input"
						name="password"
						placeholder="Hasło"
						type="password"
						required
					/>
					</div>	<span class="create-account">Nie masz jeszcze konta? <a href="javascript:void(0);" id="link2" onclick="register()">Utwórz konto</a>.</span><br><center><button class="button is-info join-panel" data-tooltip="Po kliknięciu tego przycisku zalogujesz się">
					Zaloguj
					</button></center>
				</form>	  
	  
    </div>
  </div>
</div>
			<div id="footer">
			<ul class="ftr">
				<li class="main">Live-Text</li>
			</ul>
			
			<ul class="ftr">
				<li class="main">Main</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
			
			
			<ul class="ftr">
				<li class="main">Main</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
			
			<ul class="ftr">
				<li class="main">Main</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
				<li>Home</li>
			</ul>
			</div>
		</div>
		<br><br>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('connect', () => {
        console.log(socket.id); // true
    });
    socket.on('roomcheck', ()=> {
        console.log(io.rooms)
    })


    
</script>
</html>