<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
	<script src="js/button.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/data-tooltip.css">
	<link href="/css/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <title>Text Live</title>
  </head>

  <body>
  
    <% if(!user){%>
	
	<div class="indx-mn">	
		<ul>
			<li>Live-text</li>
			<li class="small active">Strona Główna</li>
			<li class="small">O platformie</li>
			<li class="small">Funkcjonalność</li>
			<li class="register" style="float:right;"><a href="/register">Stwórz test online</a></li>
			<li style="float:right;"><a href="/login">Zaloguj</a></li>
		</ul>
	</div>

	
	<div style="width:100%;">
	<div class="indx-line indx-border">
	<div class="indx-invite indx-box-a">
			<span class="indx-h1">Darmowy kreator testów</span><br><br>
			<span class="indx-h2">Stwórz rozbudowany test w bardzo prosty sposób i nadzoruj jego rozwiązywanie podczas gdy uczniowie go wypełniają.</span><br><br>
			<a href="/register"><div class="indx-button" data-tooltip="Jeśli nie posiadasz konta, musisz sie zarejestrować">Stwórz test online</div></a> <div class="indx-buttonw" data-tooltip="Zobacz jak prosto zbudować test używając naszej platformy">Zobacz jak działa kreator</div>
	</div>
	
	<div class="indx-invite" class="center-div">
			<div class="indx-box-b"></div>
	</div>
	</div>
	<br>
	
	
	<div class="indx-line indx-box-c">
	<div class="indx-room" class="center-div">
			<div class="indx-join">
			<span class="indx-h2"><div class="blink_me">•</div> Dołącz do pokoju</span><br><br><br>
			<form action="/join" method="post">
					<div class="input-box">
					<i class="fa fa-hashtag input-icon"></i>
					<input
						class="input"
						type="number"
						placeholder="Kod Pokoju"
						name="PIN"
						required
					/>
					</div><br>
					<div class="input-box">
					<i class="fa fa-user input-icon"></i>
					<input
						class="input"
						type="text"
						placeholder="Twoja Nazwa"
						name="guestname"
						required
					/>
					</div><br>
					<div class="input-box">
					<i class="fa fa-envelope input-icon"></i>
					<input
						class="input"
						type="email"
						placeholder="Twój Email"
						name="remail"
						required
					/></div>	<br>				<button class="button is-info join-class" style="margin-top:20px;" data-tooltip="Po kliknięciu tego przycisku zostaniesz przeniesiony do pokoju">
					Dołącz <span style="float:right"><i class="fas fa-chevron-right"></i></span>
					</button>
				</form></div>
				
	</div>
			<div class="indx-invite indx-box-d">
			<span class="indx-h1">Wypełniaj testy bez zakładania konta</span><br><br>
			<span class="indx-h2">Do wypełnienia testu wystarczy jedynie podać <span style="font-weight:300">kod pokoju</span>, który uzyskacie od waszego nauczyciela oraz podstawowe informacje.
			Po kliknięciu przycisku zostaniesz przeniesiony do pokoju gdzie będziesz mógł wypełnić test.
			</span><br><br>
	</div></div><br>
	
		<div class="indx-line indx-border" style="border-top: 1px solid #eee;">
	<div class="indx-invite indx-box-e">
			<span class="indx-h1">Dla nauczycieli</span><br><br>
			<span class="indx-h2">Platforma Live-Text umożliwia tworzenie rozbudowanych testów oraz wypełnianie ich przez wielu uczniów jednocześnie. Jedną z jej funkcji jest
			ocenianie pytań danego typu w czasie rzeczywistym, czyli gdy uczniowie rozwiązuja test. By poznać wszystkie funkcje załóż darmowe konto.
			</span><br><br>
	</div>
	
	</div>
<!--
	<div id="header" class="center-div">
		<div id="left-side">
			<div class="logo">
				<span class="title">Witamy na platformie!</span></h1> <br>
				Aby dowiedzieć się wiecej o naszej platformie kliknij w poniższy przycisk.
				<br><br><br>
				<center><span class="sign-in">O platformie</span></center>
			</div>
		</div>
		<div id="right-side" style="border-right:1px solid rgba(0,0,0,0.1);">
			<div class="text">
				<center>
				<span class="title">Dołącz do gry</span>
				<form action="/join" method="post">
					<input
						class="input"
						type="number"
						placeholder="Kod Klasy"
						name="PIN"
						required
					/><br>
					<input
						class="input"
						type="text"
						placeholder="Twoja Nazwa"
						name="guestname"
						required
					/>
					<input
						class="input"
						type="email"
						placeholder="Twój Email"
						name="remail"
						required
					/>
					<br><br>
					<button class="button is-info join-class" style="margin-top:20px;">
					Dołącz
					</button>
				</form>
				</center>
			</div>
		</div>
		<div id="right-side">
			<div class="text">
				<center>
					<div id="panel">
						<div id="registerp"><a href="javascript:void(0);" id="link1" onclick="register()">Rejestracja</a></div>
						<div style="height:30px;width:1px;background:#ddd;float:left;"></div>
						<div id="loginp"><a href="javascript:void(0);" id="link2" onclick="login()">Panel użytkownika</a></div>
					</div>
				</center>
				<center>
				<form action="/login" method="post" id="loginform" style="display:block">
					<span class="title" style="margin-bottom:10px;display:block;margin-top:10px;">Panel użytkownika</span>
					<input
						class="input"
						name="username"
						placeholder="Login"
						type="text"
						required
					/>
					<br>
					<input
						class="input"
						name="password"
						placeholder="Hasło"
						type="password"
						required
					/>
					<br>
					<span style="font-size:14px;">Nie masz jeszcze konta? <a href="javascript:void(0);" id="link2" onclick="register()">Utwórz konto</a>.</span><br>
					<button class="button is-info join-class" style="margin-top:20px;">
					Zaloguj
					</button>
				</form>
				<form action="/" method="post" id="registerform" style="display:none">
					<span class="title" style="margin-bottom:10px;margin-top:10px;display:block">Rejestracja</span>
					<input type="text" placeholder="Login" name="login"><br>
					<input type="text" placeholder="E-mail" name="email"><br>
					<input type="password" placeholder="Hasło" name="password"><br>
					<input type="password" placeholder="Powtórz hasło" name="repeatpassword"><br>
					<span style="font-size:14px;">Posiadasz już konto? <a href="javascript:void(0);" id="link1" onclick="login()">Zaloguj się</a>.</span><br><br>
					<button type="submit" name="dolacz" class="join-class">Zarejestruj</button>
				</form>
				</center>
			</div>
		</div>
	</div>
	</div>
-->
    <% } %> <% if(user){ console.log(user) %>
	<div class="indx-mn">	
		<ul>
			<li>Live-text</li>
			<li class="small">Strona Główna</li>
			<li class="small">O platformie</li>
			<li class="small">Funkcjonalność</li>
			<li class="active" style="float:right;">Witaj, <%= user.username %><i class="fas fa-caret-down" style="margin-left:10px"></i></li>
		</ul>
	</div>

<div id="content" style="background:background:rgba(0,0,0,0.02)">

		<div id="right-side" style="width:66%;padding:50px;box-sizing:border-box">
			<!--
              <div class="info">Wygląda na to, że nie posiadasz żadnego utworzonego pokoju<br> Użyj
              przycisku poniżej, aby utworzyć pokój!</div>
			  <br>-->
              <form action="/create_room" method="get">
                    <a href="/tree" class="button is-info panel_button"
                      ><i class="fas fa-cog icon_mg"></i> Zarządzaj pytaniami</a
                    >
                    <a href="/logout" class="button is-primary is-outlined panel_button"
                      ><i class="fas fa-sign-out-alt icon_mg"></i> Wyloguj</a
                    >
              </form>
		</div>
</div>

    <% } %>
  </body>
</html>
