<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    </title>
</head>
<body>
  <form action="/login" method="post">
   <label for="username">Nazwa użytkownika</label>
    <input name="username" type="text">
    <label for="password">Hasło</label>
    <input name="password" type="password">
    <button>Zaloguj</button>
</form>
       
</body>
</html>