<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= room.PIN%>
    </h1>
    <h2 id='pytanie'></h2>
    <ul id="guests"></ul>
    <% if(user){ %>
    <form id="qform">
        <input id='qinput' type="text">
        <button id="qbutton">Wyślij</button>
    </form>
    <% } %>
    <form id='qanswer'></form>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    //    var socket = io({transports: ['websocket'], upgrade: false});
    const socket = io();
    let boolean = false;
    //DOŁĄCZANIE
    socket.on('connect', () => {
        <% if(user) {%>
        boolean = true;
        <% } %>

        console.log(socket.id); // true
        socket.emit('room', <%= room.PIN %>, boolean);
    });


    //WYŚWIETLANIE LISTY
    socket.on('join_room', (nroom) => {
        console.log(nroom)
        document.getElementById('guests').innerHTML = "";
        nroom.forEach(function(guest) {
            $('#guests').append($('<li>').text(guest.username));
        })

    })

    //ZADANIE PYTANIA
    $('#qbutton').click((e) => {
        e.preventDefault();
        let qinput = $('#qinput').val();
        socket.emit("question", qinput, <%= room.PIN %>);
    })
    //Wyświetlanie pytania
    socket.on('qquestion', (qinput) => {
        document.getElementById('guests').innerHTML = "";
        document.getElementById('qform').innerHTML = "<button id='qbutton'>Zakończ</button>"
//        document.getElementById('qanswer').innerHTML = "<textarea name='' id='' cols='30' rows='10'></textarea>"
    })

</script>

</html>
