<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<% if(user != undefined){ %>
<form action="/create_room" method="get">
        <button>create room</button>
</form>
    
    <%} else {%>
    <form action="/join_room" method="get">
       <input type="number">
        <button>Join room</button>
</form>
    
    <%} %>
    
    
    <% console.log(user) %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('connect', () => {
        console.log(socket.id); // true
    });
    socket.on('roomcheck', ()=> {
    })

</script>
</html>