<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
<!--Lista guestów-->
<div id="guestlist"></div>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let room;
    let guestlist;
    const socket = io();
            socket.on('connect', () => {
                socket.emit('joinroom',<%= room.PIN %>,<%= room.OPEN %>)
        });
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    //SOCKETIO
    
    
    
    //Lista guestów
    socket.on('reloadlist',(fRoom,fGuests)=>{
        room = fRoom;
        guestlist = fGuests;
        $("#guestlist").html("")
        $.each(guestlist,function(){
            $("#guestlist").append(`<div>`+this.username+`</div>`)
            
        })
    })
</script>

</html>
