body {
    background: rgba(0, 0, 0, 0.02);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    font-weight: 300;
}

.room {
    width: 80%;
    box-sizing: border-box;
    border-radius: 3px;

    margin: 50px auto 0px auto;
}

.room-title {
    width: 100%;
    background: #262626;
    border-radius: 3px;
    color: #fff;
    padding: 15px 30px;
    box-sizing: border-box;
}

.room-pin-title {
	display:block;
	margin-bottom:16px;
}

.room-pin {
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 30px;
	display:inline-block;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kodklasy {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

.uczniowie-box {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 25px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

#guestlist .guestobject {
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
    background: #fff;
    margin: 20px 0px 0px 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ccc;
}

.etykieta {
    font-size: 23px !important;
}

.startgame {
	background: #3273dc;
    color: #fff;
    font-size: 13px;
	box-shadow: 0px 0px 5px #ccc;
    width: 18%;
    padding: 16px 20px;
	box-sizing:border-box;
    border-radius: 3px;
    margin-top: 30px;
}

#matchq {
    width: 45%;
    display: block;
	float:left;
    border: black 1px solid;
}

#matchq div {
    height: 100px;
    width: 100%;
    display: block;
    border: red 1px solid;
}

#matchans {
    width: 45%;
    display: block;
	float:left;
    border: black 1px solid;
}

.matchdrop {
    height: 100px;
    background-color: yellow;
}

.matchdrop div {
    height: 100%;
    background-color: yellow;
}

.qlist {
    margin: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 3px;
}

.qlist:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle {
    background: #28a745 !important;
    color: #fff;
    display: inline-block;
}

#matchq {
    width: 45%;
    display: block;
    border: black 1px solid;
}

#matchq div {
    height: 100px;
    width: 100%;
    display: block;
    border: red 1px solid;
}

#matchans {
    width: 45%;
    display: block;
    border: black 1px solid;
}

.matchdrop {
    height: 100px;
    background-color: yellow;
}

.matchdrop div {
    height: 100%;
    background-color: yellow;
}

/* Strona klienta */

.nav-question {
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px 15px 0px 0px;
    font-size: 13px;
    color: #555;
    border-radius: 3px;
}

.quest-number {
    font-size: 18px;
}

#answers p {
    display: inline-block;
}

#answers span.multi {
    padding: 4px 8px;
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#answers span.multi:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background: rgba(0, 0, 0, 0.8);
}

#answers span.single {
    padding: 4px 8px;
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

#answers span.single:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background: rgba(0, 0, 0, 0.8);
}




#licznik {
    margin-top: 30px;
}

input.radio-c {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    width: 20px;
    margin-right: 8px;
    background-color: #eee;
    border-radius: 50%;
}


.a:hover input ~ .checkmark {
    background-color: #ccc;
    cursor: pointer;
}


.a input:checked ~ .checkmark {
    background-color: #28a745;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.a input:checked ~ .checkmark:after {
    display: block;
}


.a .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.a input[type=checkbox] ~ .checkmark {
    border-radius: 3px;
}

.a input[type=checkbox]:checked ~ .checkmark {
    background-color: #28a745;
}

button {
    background: none;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    color: #999;
    font-size: 1em;
    cursor: pointer;
}

.showq {
    padding: 10px 30px 30px 30px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
	float:left;
	width:100%;
}


.matchcor {
    border: 1px solid black;
    width: 100%;
    background-color: gray;
}

.matchopt {
    border: 1px solid black;
    width: 100%;
    background-color: bisque;
}

.icon_mg {
margin-right:15px;
}

.question-desc {
	margin-top:4px;
	display:block;
}

.qoption {
float:left;
width:50%;
}

.qcorrect {
float:left;
width:50%;
}

