body {
    background: rgba(0, 0, 0, 0.02);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    font-weight: 300;
}

.room {
    width: 80%;
    box-sizing: border-box;
    border-radius: 3px;

    margin: 50px auto 0px auto;
}

.room-title {
    width: 100%;
    background: #262626;
    border-radius: 3px;
    color: #fff;
    padding: 15px 30px;
    box-sizing: border-box;
}

.room-pin-title {
	display:block;
	margin-bottom:16px;
}

.room-pin {
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 30px;
	display:inline-block;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kodklasy {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
	border-radius:3px;
    box-shadow: 0px 0px 5px #ccc;
}

.uczniowie-box {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 25px;
    background: #fff;
	border-radius:3px;
    box-shadow: 0px 0px 5px #ccc;
}

#guestlist .guestobject {
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
    background: #fff;
    margin: 20px 0px 0px 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ccc;
}

.etykieta {
    font-size: 23px !important;
}

.startgame {
	background: #3273dc;
    color: #fff;
    font-size: 13px;
	box-shadow: 0px 0px 5px #ccc;
    width: 100%;
    padding: 16px 20px;
	box-sizing:border-box;
    border-radius: 3px;
    margin-top: 30px;
}

#matchq {
    width: 45%;
    display: block;
	float:left;
    border: black 1px solid;
}

#matchq div {
    height: 100px;
    width: 100%;
    display: block;
    border: red 1px solid;
}

#matchans {
    width: 45%;
    display: block;
	float:left;
    border: black 1px solid;
}

.matchdrop {
    height: 100px;
    background-color: yellow;
}

.matchdrop div {
    height: 100%;
    background-color: yellow;
}

.qlist {
    margin: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 3px;
}

.qlist2{
	padding: 10px 10px 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
    background: #fff;
    margin: 0px 0px 20px 0px;
    float: left;
    width: 18%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ccc;
}

.qlist:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.togglered {
    background: red !important;
    color: #fff;
    border: black 2px solid;
/*    display: inline-block;*/
}

.togglegreen {
    background: #28a745 !important;
    color: #fff;
/*    display: inline-block;*/
}

.toggle{
    background: #28a745 !important;
    color: #fff;
}



#matchq {
    width: 45%;
    display: block;
    border: black 1px solid;
}

#matchq div {
    height: 100px;
    width: 100%;
    display: block;
    border: red 1px solid;
}

#matchans {
    width: 45%;
    display: block;
    border: black 1px solid;
}

.matchdrop {
    height: 100px;
    background-color: yellow;
}

.matchdrop div {
    height: 100%;
    background-color: yellow;
}

/* Strona klienta */

.nav-question {
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px 15px 0px 0px;
    font-size: 13px;
    color: #555;
    border-radius: 3px;
}

.quest-number {
    font-size: 18px;
}

#answers p {
    display: inline-block;
}

#answers span.multi {
    padding: 4px 8px;
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#answers span.multi:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background: rgba(0, 0, 0, 0.8);
}

#answers span.single {
    padding: 4px 8px;
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

#answers span.single:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background: rgba(0, 0, 0, 0.8);
}




#licznik {
    margin-top: 30px;
}

input.radio-c {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    width: 20px;
    margin-right: 8px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmarkBold{
    font-weight: bold;
}

.a:hover input ~ .checkmark {
    background-color: #ccc;
    cursor: pointer;
}


.a input:checked ~ .checkmark {
    background-color: #28a745;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.a input:checked ~ .checkmark:after {
    display: block;
}


.a .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.a input[type=checkbox] ~ .checkmark {
    border-radius: 3px;
}

.a input[type=checkbox]:checked ~ .checkmark {
    background-color: #28a745;
}

button {
    background: none;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    color: #999;
    font-size: 1em;
    cursor: pointer;
}

.showq {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
	float:left;
	width:100%;
	box-sizing:border-box;
}


.matchcor {
    border: 1px solid black;
    width: 100%;
    background-color: gray;
}

.matchopt {
    border: 1px solid black;
    width: 100%;
    background-color: bisque;
}

.icon_mg {
margin-right:15px;
}

.question-desc {
	margin-top:4px;
	display:block;
}

.qoption {
float:left;
width:50%;
}

.qcorrect {
float:left;
width:50%;
}

.close-test{
    background: #c6443e;
    color: #fff;
    font-size: 13px;
    box-shadow: 0px 0px 5px #ccc;
    width: 18%;
    padding: 16px 20px;
    box-sizing: border-box;
	text-transform:uppercase;
    border-radius: 3px;
	margin-bottom:30px;
}

.modal {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    color: #000;
}



.rateq {
	background:#3273dc;
	border-radius:3px;
    padding: 6px 12px;
	color:#fff;
	margin-left:20px;
}

.insertpkt {
	font-size: 16px;
    border-radius: 3px;
    padding: 6px 12px;
    margin: 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 100;
    color: #666;
}

.test-successful
{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    color: #000;	
}

.successful-text {
	position:absolute;
	background:#fff;
	padding:40px 40px;
	border-radius:3px;
	box-shadow:0px 0px 5px #ccc;
	top: 50%;
    left: 50%;
    margin-right: -50%;
	text-align:center;
    transform: translate(-50%, -50%);
}


.successful-text h1, h3 {
	margin-block-start: 0em;
    margin-block-end: 0em;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
}

.successful-text h3{
	margin-top:15px;
}

.material-icons {
	font-size:60px!important;
	color:green;
	margin-bottom:30px;
}

.congrats, .rank {
	font-size:30px;
}

.score {
	background:#fff;
	padding:40px 40px 40px 80px;
	border-radius:3px;
	box-sizing:border-box;
	box-shadow:0px 0px 5px #ccc;
	text-align:center;
	width:60%;
	float:left;
	position:relative;
	margin:200px 20% 50px 20%;
}

.score-text {
	width:60%;
	margin-left:20%;
	float:left;
	position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)
}

.diagram {
	width:20%;
	float:left;
	height:100%;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.popup-box {
	background:#fff;
	padding:40px;
	display:inline-block;
	border-radius:2px;
	    box-shadow: 0px 0px 5px #ccc;
 position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.popup-box > button {
	background:#fff;
	    box-shadow: 0px 1px 2px #ccc;
	padding:8px 12px;
	    margin: 50px 50px 20px 50px;
	color:#333;
	border-radius:3px;

}

#PointsGraph{
    max-width: 1000px;
    margin: 0 auto 100px auto;
    width: 600px;
    display: block;
}


.answers-full {
	width:60%;
	float: left;
    position: relative;
    margin: 0px  20%;
}

.questions-a {
	text-align:left;
	width:20%;
	float:left;
}

.questions-b {
	background:#fff;
	padding:0px 20px 20px 20px;
	border-radius:3px;
	box-sizing:border-box;
	box-shadow:0px 0px 5px #ccc;
	text-align:left;
	width:75%;
	margin-left:5%;
	float:left;
}

.questions-b > .showq {
	box-shadow:none!important;
	text-align:left;
}

.volume{
color:#333;
padding:10px 10px 10px 0px;
border-radius:3px;
}

button.volume {
	padding:0;
}

.qlist2:hover{
	cursor:pointer;
}

.pytaniaocena {
	width: 18%;
    float: left;
    box-sizing: border-box;
    padding: 25px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #ccc;
	margin-bottom:20px;
}

.highcharts-container{
border-radius:3px;
box-shadow:0px 0px 5px #ccc;
}

#PointsGraph{
	margin-top:140px;
box-shadow:0px 0px 5px #ccc;
}


.qobject > div {
	padding: 10px 10px 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
    background: #fff;
    margin: 0px 0px 20px 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ccc;
}

.qobject > div:hover {
	cursor:pointer;
}

.sendscore{
	display:inline-block;
background:#ff9f00;
color:#fff;
border-radius:3px;
margin-top:10px;
padding: 10px 14px;
}

.icon_mail {
	margin-right:5px;
}

.togglegreen-a {
	color:#28a745!important;
	font-weight:bold;
}

.togglered-a {
	color:red;
	font-weight:bold;
}

.showqcontent{
    border-bottom: 1px solid black;
}
.ChosenAns{
    background-color: black;
}