

div.dir.opened-item > div.dir-header > span.arrow {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

div.dir > div.dir-header > span.arrow {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

div.dir > div.dir-items {
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
}
